.reveal td {
    vertical-align: middle !important;
}

.reveal section img {
    border:0;
    padding:0;
    box-shadow:none;

    max-height: 500px;
}

.reveal section video {
    max-height: 500px;
}

.reveal section iframe {
    height: 500px;
}

.reveal .slide-number {
    background-color: #fff;
    color: #000;
    font-size: 55%;
}

.reveal table td {
    border: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-muted {
    color: grey;
}
